.grid_mgmt_panel
  %img.receiver_add{:src => image_path("plus.png"), :alt => "+"}
  %img.receiver_prev{:src => image_path("control-180.png"), :alt => "<"}
  %img.receiver_next{:src => image_path("control.png"), :alt => ">"}
  .receiver_count 1/#{rcv_count}

