.info
  %p<
    <strong>Внимание!</strong> Вы составляете расписание на #{current_semester}.

.workspace
  #form
    %p
      = 'Аудитория:'
      %br
      %input{:id => "classroom_name", :size => 10}
- if @classroom_id
  = javascript_tag("jQuery.get('"+editor_classrooms_classroom_path(@classroom_id)+"');")
