config/database.yml
config/taurus.yml
log/*
tmp/*
nbproject/*
.redcar/*
.*.sw*
.idea/*
.bundle

# Active scaffold and record select assets
public/images/active_scaffold
public/javascripts/active_scaffold
public/stylesheets/active_scaffold
public/javascripts/record_select
public/stylesheets/record_select
