<%- title "Специальности кафедры #{current_department.short_name}" %>

<div class="info">
<p>Пожалуйста соблюдайте правильность распределения групп по специальностям.</p>
  <ul>
    <li><strong>Не создавайте специальностей, которые не выпускает ваша кафедра!</strong></li>
    <li><strong>Не создавайте группы, для которых вы не являетесь выпускающей кафедрой!</strong></li>
</ul>
<p>Для создания недостающих групп других кафедр или переноса групп между специальностями, обратитесь по телефонам 9-600 или 9-604</p>
</div>
<%= render :super %>
