<%- title "Учебные поручения от #{current_faculty.name}" %>

<div class="info">
  <p>Пожалуйста, ознакомьтесь с <a href="/doc/Инструкция для замдеканов по УР.doc">инструкцией</a> от 30 октября 2013 г.</p>
  <p><strong>Внимание!</strong> Вы заполняете информацию на <%= current_semester %>!</p>
</div>

<%= render :super %>
