div.timetable {
  padding: 0.5em;

  table {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #E9E9F0;
  }

  col.timecells {
    width: 10%;
    max-width: 100px;
  }

  col.daycells {
    width: 15%;
  }

  .nopair {
    height: 100%;
    width: 100%;
  }

  .error_pair {
    background-color: #FF0000;
    height: 100%;
    width: 100%;
  }

  td, th {
    padding: 0;
    border-style: solid;
    border-width: thin;
  }

  .timetablerow {
    height: 150px;
  }

}

.daycellcontainer {
  height: 152px;
  margin: -1px;
}

.daycell {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  tr {
    height: 75px;
    max-height: 75px;
  }

  td {
    padding: 1px;
    width: 50%;
    font-family: sans-serif;
    font-size: 11px;
    background-color: #F9F9FC;
  }

  td.empty {
    background-color: #E9E9F0;
  }

}

.discipline, .auditory {
  max-height: 2.5em;
  white-space: normal;
  overflow: hidden;
}

.back_button {
  margin: 0.25em;
  padding: 0.5em;
  display: block;
  font-size: 2em;
}

#back_button_top {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 5;
  width: 340px;
  height: 40px;
  line-height: 15px;
  font-size: 25px;
  margin: 0;
}

.ajax_spinner {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50%;
  display: none;
}

.ajax_spinner_image {
  width: 128px;
  height: 128px;
  background: image-url("AmurSU_spinner_128.gif") top left no-repeat;
  text-align: center;
  margin: auto;
}

.list_view {
  display: none;

  h3 {
    margin-bottom: 0;
  }

  dl {
    border-bottom: solid 1px gray;
    border-top: 1px dotted silver;
    padding: 0.5em 0;
    margin:  0;
    margin-top: -1px;
  }

  h4 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

}
