#terminal_help
  .help_box
    %h2 Как пользоваться:
    %ol
      %li Начните набирать на клавиатуре номер группы или ФИО преподавателя;
      %li Система подгрузит список групп или преподавателей, удовлетворяющих вашему запросу и отобразит его. Продолжайте ввод, чтобы отфильтровать ненужные записи;
      %li Нажмите на кнопку «Расписание» справа от интересующей вас записи, чтобы просмотреть расписание;
      %li При неверном наборе воспользуйтесь клавишами сброса [✖] и удаления последнего символа [⌫].
  .help_box
    %h2 Полезная информация
    %ul
      %li Чтобы посмотреть, что находится на странице ниже, нажмите на экран и, не отпуская, проведите палец вверх, как бы «оттаскивая» содержимое страницы вверх.
      %li Аналогично «оттащите» страницу вниз, чтобы посмотреть, что вверху.
      %li Через 60 секунд бездействия терминал вернётся на главную страницу. При необходимости изредка нажимайте на экран.
      %li Если что-то с терминалом случилось — обращайтесь в кабинет 436 главного корпуса или по телефону (4162) 394-604.
