.grid_mgmt_panel
  %img.receiver_add{:src => "/images/plus.png", :alt => "+"}
  %img.receiver_prev{:src => "/images/control-180.png", :alt => "<"}
  %img.receiver_next{:src => "/images/control.png", :alt => ">"}
  .receiver_count 1/#{rcv_count}

