%tr
  %td.timeslot{:colspan => 2}
    - @pair_groups = pairs_split_by_time(pairs_by_timeslot(@pairs, day_counter, time_counter))
    - if @pair_groups.any?
      = render :partial => 'timeslot', :collection => @pair_groups, :as => :pair_group, :locals => {:day => day_counter, :pair => time_counter}
    = render :partial => 'recv_mgmt_panel', :locals => {:rcv_count => @pair_groups.count || 1}
