Backup::Model.new(:taurus, 'Taurus backup configuration') do

  database PostgreSQL do |db|
    db.name               = 'taurus'
    db.username           = 'taurus_user'
    db.password           = 'taurus_password'
    db.host               = 'taurus.amursu.ru'
    db.port               = 5432
    db.skip_tables        = ['sessions', 'sessions_id_seq']
    db.additional_options = ['--clean']
  end

  compress_with Bzip2

  store_with SCP do |server|
    server.username = 'backup_user'
    server.password = 'backup_pass'
    server.ip       = 'backup_ip'
    server.port     = 22
    server.path     = '/path/to/backups'
    server.keep     = 50
  end

  store_with Local do |local|
    local.path = '~/backups'
    local.keep = 50
  end

  notify_by Mail do |mail|
    mail.on_success           = true
    mail.on_failure           = true

    mail.from                 = 'taurus@amursu.ru'
    mail.to                   = ''
    mail.address              = 'localhost'
    mail.domain               = 'amursu.ru'
    mail.port                 = 25
    mail.authentication       = 'plain'
  end
end
