<%- title "Преподаватели кафедры #{Unicode::downcase(current_department.short_name)}" %>

<div class="info">
  <p>Пожалуйста, ознакомьтесь с <a href="/doc/Инструкция по внесению карт нагрузок преподавателей.doc">инструкцией по заполнению карт нагрузок преподавателей</a> от 20 августа 2012 г.</p>
  <p><strong>Внимание!</strong> Вы заполняете карточки нагрузки на <%= current_semester %>!</p>
</div>

<%= render :super %>
