<%- title "Преподаватели кафедры #{Unicode::downcase(current_department.short_name)}" %>

<div class="info">
  <p>Пожалуйста, ознакомьтесь с <a href="/doc/Инструкция для завкафедрами.doc">инструкцией</a> от 30 октября 2013 г.</p>
  <p><strong>Внимание!</strong> Вы заполняете информацию на <%= current_semester %>!</p>
</div>

<%= render :super %>
