.info
  %p<
    <strong>Внимание!</strong> Вы составляете расписание на #{current_semester}.

.workspace
  - @buildings.each do |building|
    %p
      = link_to "#{building.name} корпус", editor_classrooms_classrooms_sheet_path(building)
