.lecturer_name
  .lecturer_name_label
    %label{:for => "lecturer_name_input"} ФИО преподавателя
  .lecturer_name_input_container
    %input{:class => "lecturer_name_input", :id => "lecturer_name_input"}
  %div
    %button{:type => "button"} Показать расписание
