= stylesheet_link_tag 'terminal'
= javascript_include_tag 'terminal'
= stylesheet_link_tag 'jquery.keyboard'
= javascript_include_tag 'jquery.keyboard'

.lecturer_name_terminal_wrapper
  .lecturer_name
    .lecturer_name_label_terminal
      %span ФИО преподавателя
    .lecturer_name_input_container
      %input{:class => "lecturer_name_input", :id => "lecturer_name_input_terminal", :size => 15}
    %div
      %button{:type => "button"} Показать расписание

#terminalhelp
  .helpbox
    .helpcontent
      %h1 Как пользоваться:
      %ol
        %li Начните набирать на виртуальной клавиатуре фамилию интересующего вас преподавателя, не менее двух букв;
        %li Под полем ввода появится список всех подходящих преподавателей. Продолжайте ввод, чтобы отфильтровать ненужных;
        %li Нажмите на интересующего Вас преподавателя в списке, чтобы просмотреть его расписание;
        %li При неверном наборе воспользуйтесь клавишей Backspace.
  .helpbox
    .helpcontent
      %h1 Полезная информация
      %ul
        %li Чтобы посмотреть, что находится на странице ниже, нажмите на экран и, не отпуская, проведите палец вверх, как бы «оттаскивая» содержимое страницы вверх.
        %li Аналогично «оттащите» страницу вниз, чтобы посмотреть, что вверху.
        %li Через 60 секунд бездействия терминал вернётся на главную страницу. При необходимости изредка нажимайте на экран.
        %li Если что-то с терминалом случилось — обращайтесь в кабинет 436 главного корпуса или по телефону 394-604.
