<div class="info">
  <p>Здесь перечислены аудитории, закреплённые за вашей кафедрой. В случае, если какие-то из них отсутствуют в этом списке — обращайтесь по телефонам 9-604 или 9-600.</p>
</div>
<%= render :super %>
