- title "Загрузка учебного плана"

%h1 Импорт учебных планов
%p Пожалуйста, обратите внимание, что система принимает к разбору <strong>только</strong> файлы учебных планов <strong><em>универсального</em> пакета GosInsp</strong>.
%p Это файлы с расширениями <code>PLI.XML</code> и <code>PLM.XML</code>.
%fieldset
  = form_tag({}, :method => :post, :multipart => true) do
    = file_field_tag :plan, accept: "application/xml", required: true
    = number_field_tag :forming_year, Date.today.year, min: 2000, max: 2100, required: true
    = submit_tag "Импортировать"
