- title "О системе"

.about_page_wrapper
  .about_page
    %hgroup
      %h1 Taurus
      %p.description Автоматизированная система составления учебного расписания
      %p.version Версия #{Taurus::Version::Number} от #{I18n.l Taurus::Version::Date, :format => :long} года.
      %p.revision (Ревизия #{Taurus::Version::Revision})

    %p Данная система предназначена для автоматизации деятельности кафедр и диспетчерской службы при составлении карт нагрузки преподавателей, создании, проверке и публикации учебного расписания.
    %p Разработана <a href="http://www.amursu.ru/opito">отделом программного и технического обеспечения АмГУ</a> специально для <a href="http://www.amursu.ru/">Амурского государственного университета</a>.
    %p Система написана на языке программирования <a href="http://www.ruby-lang.org/">Ruby</a> с использованием программного каркаса <a href="http://rubyonrails.org/">Ruby on Rails</a>.

    %h2 Авторы

    %dl
      %dt Воронков Андрей
      %dd проектирование, программирование
      %dt Тодосейчук Александр
      %dd проектирование
      %dt Новиков Андрей
      %dd программирование, терминалы
      %dt Сычев Игорь
      %dd идея, административные вопросы
      %dt Самойленко Ольга
      %dd сопровождение
