@font-face {
  font-family: "Archangelsk";
  src: font-url("Archangelsk.ttf");
}

@font-face {
  font-family: "Russo One";
  src: font-url("Russo_One.ttf");
}

@font-face {
  font-family: "Cuprum";
  src: font-url("Cuprum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: font-url("Cuprum-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: font-url("Cuprum-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: font-url("Cuprum-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
