.workspace {
  font-family: sans-serif;
  font-size: 12px;
  width: 100%; }

#form {
  float: left;
  padding: 5px;
  border: 1px solid #000000;
  background-color: #e6e6fa; }

.closebutton {
  background-image: image-url("close_16.ico");
  cursor: pointer;
  float: right;
  height: 16px;
  width: 16px; }

.grid {
  background-color: #e6e6fa;
  clear: both;
  margin-bottom: 5px;
  width: 100%; }
  .grid table {
    width: 100%;
    border-collapse: collapse; }
  .grid td {
    border-style: solid;
    border-width: thin;
    height: 68px;
    width: 7.7%;
    position: relative; }
  .grid th {
    border-style: solid;
    border-width: thin;
    width: 7.7%; }

.receiver {
  -webkit-user-select: none;
  -moz-user-select: none;
  height: 100%;
  width: 100%; }

.hovered_receiver {
  background: #F00; }

.pair {
  font-family: sans-serif;
  font-size: 11px;
  cursor: move;
  background-color: #F5F9BD;
  height: 100%;
  width: 100%;
  position: relative; }
  .pair .pair_content {
    float: left; }
  .pair .management_panel {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 16px;
    background-color: rgba(245, 249, 189, 0.5); }
  .pair .management_panel div {
    display: inline;
    height: 16px;
    width: 16px; }

.grid_mgmt_panel {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000; }
  .grid_mgmt_panel .receiver_add,
  .grid_mgmt_panel .receiver_prev,
  .grid_mgmt_panel .receiver_next {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer; }
  .grid_mgmt_panel .receiver_count {
    margin-left: 50px; }

.hidden_receiver {
  display: none; }

abbr {
  cursor: help; }

img {
  border: none; }

.timetable {
  background-color: #e6e6fa;
  clear: both;
  margin-bottom: 5px;
  width: 100%; }
  .timetable .nopair {
    background-color: #e6e6fa;
    height: 100%;
    width: 100%; }
  .timetable .error_pair {
    background-color: #FF0000;
    height: 100%;
    width: 100%; }
  .timetable table {
    width: 100%;
    border-collapse: collapse; }
  .timetable td {
    border-style: solid;
    border-width: thin;
    height: 68px;
    width: 7.7%; }
  .timetable th {
    width: 7.7%;
    border-style: solid;
    border-width: thin; }

.timetable.groups td {
  height: 68px; }

.daycell {
  width: 100%;
  height: 100%;
  background-color: #000; }
  .daycell td {
    border-collapse: collapse;
    border-style: solid;
    border-width: 0;
    height: 68px;
    width: 50%; }

.classrooms_sheet_head {
  margin-right: 15px; }

.classrooms_sheet_scrollable {
  height: 500px;
  overflow: auto; }

.classrooms_sheet_cell {
  height: 68px; }

.classrooms_sheet_cell_time {
  height: 10.714px;
  font-size: 9px; }

.busy {
  background-color: #ffaaaa; }

.empty {
  background-color: #aaffaa; }
  
#dates_block {
  display: none;
}

.subgroup {
  margin-bottom: 0.5em;
}

#group_form {
  margin: 0 0 -60px -2px;
  padding: 5px;
  border: 1px solid black;
  background: lavender;
  width: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.group_editor {
  float: left;
  margin-left: -2px;
}

.group_editor table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 250px;
}

.group_editor table.legend {
  width: 200px;
}

.group_editor table caption {
  font-size: 200%;
  font-weight: bold;
  height: 50px;
  max-height: 50px;
}

.group_editor table caption p.population {
  font-size: 50%;
  font-weight: normal;
  margin: 0;
}

.group_editor tbody, .group_editor thead {
  border: 2px solid black;
}

.group_editor td,th {
  border: 1px solid black;
  background: lavender;
}

.group_editor.legend .weekday div {
  writing-mode: tb-rl;
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  margin: 0;
}

.group_editor.legend th.weekday {
  width: 25px;
  max-width: 30px;
  min-width: 20px;
}

.group_editor.legend th.weeknum {
  height: 32px;
  max-height: 32px;
  width: 75px;
  min-width: 75px;
  max-width: 100px;  
}

.group_editor.legend col.pairtime {
  width: 75px;
  min-width: 75px;
  max-width: 100px;
}

.group_editor td.timeslot {
  height: 67px;
  min-height: 67px;
  max-height: 67px;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 250px;
  padding: -1px;
}

.group_editor th.subgroup {
  width: 50%;
  min-width: 125px;
}

.group_editor table.timeslot {
  table-layout: fixed;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  margin: -3px;
  border: none;
  border-collapse: collapse;
  width: 260px;
  min-width: 260px;
  max-width: 260px;
  height: 73px;
  min-height: 73px;
  max-height: 73px;
  overflow: hidden;
  position: relative;
}

.group_editor table.timeslot tr {
  height: 32px;
  min-height: 32px;
  max-height: 32px;  
}

.group_editor table.timeslot td {
  position: relative;
  overflow: hidden;
}

.group_editor table.timeslot td[rowspan="1"] {
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.group_editor table.timeslot td[rowspan="1"] .pair {
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.group_editor table.timeslot td[rowspan="1"] .pair .pair_classroom {
  float: left;
  margin-right: 1em;
}

.group_editor table.timeslot td[rowspan="2"] {
  height: 67px;
  min-height: 67px;
  max-height: 67px;
}

.group_editor table.timeslot td[rowspan="2"] .pair {
  height: 67px;
  min-height: 67px;
  max-height: 67px;
}

.group_editor table.timeslot td[colspan="1"] {
  width: 50%;
  min-width: 125px;
  max-width: 125px;
}

.group_editor table.timeslot td[colspan="2"] {
  width: 100%;
  min-width: 250px;
  max-width: 250px;
}

.group_editor table.timeslot td.empty {
  min-width: 125px;
  min-height: 32px;
}

.group_editor .pair {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  z-index: 1000;
}

.group_editor .pair_wrong {
  background: #FFBB33;
}

.group_editor .pair_content {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group_editor .pair .management_panel {
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
}

.group_editor .receiver::after {
  content: "Двойной щелчок для создания пары";
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  opacity: 0.33;
}

.group_editor td[colspan="2"].timeslot > .receiver::after {
  line-height: 67px;
}

.group_editor td[colspan="2"] > .receiver::after {
  line-height: 33px;
}

.group_editor .timeslot > .hidden {
  display: none;
}

.group_editor .grid_mgmt_panel {
  visibility: hidden;
  position: absolute;
  top: -1px;
  bottom: auto;
  right: -1px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.group_editor td.timeslot:hover .grid_mgmt_panel {
  visibility: visible;
}

.ui-autocomplete {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 10px;
}
