.menu, .submenu {
  width: 100%;
}

.menu ul, .submenu ul {
  background-color: #e6e6fa;
  height: 46px;
  text-align: center;
}

.menu li, .submenu li {
  display: inline;
  list-style-type: none;
}

.menu li a.red {
    color: #c00;
}

.menu a, .submenu a {
  background-color: #e6e6fa;
  color: #555555;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 25px;
  text-decoration: none;
}

.menu a:hover, .submenu a:hover {
  background-color: #e6e6fa;
  color: #ffff88;
}

.submenu ul {
  height: 30px;
}

.submenu a {
  font-size: 14px;
  padding: 7px 7px; 
}

.menu li.semester {
  display: block;
  float: right;
  padding: 13px;
}

.menu li.semester a {
  display: inline;
  padding: 0;
  color: navy;
}
