/*

*= require base
*= require fonts
*= require_self

*= require timetable/timetable
*= require timetable/group
*= require timetable/lecturer
*= require timetable/terminal
*= require about

*= require timetable/narrow-screen
*= require timetable/print

*/

@mixin simple_gradient($top_color, $bottom_color) {
  background-image: -o-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background-image: -moz-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background-image: -webkit-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background-image: -ms-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background-image: linear-gradient(top, $top_color 0%, $bottom_color 100%);
}

$body_color: #F9F9FC;
$panels_color: #ECECF6;

body.timetable {
  font: normal 14pt sans-serif;
  margin: 0;
  padding: 50px 0 90px;
  background: $body_color;

  p { margin: 0; }

  & > header, & > nav, & > footer {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    background: $panels_color;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }

  & > header, & > nav {
    top: 0;
    @include simple_gradient(#d2d2d9, #dfdfe6);
  }

  & > header {
    border-bottom: 1px solid silver;
    height: 50px;
    width: 350px;
    padding: 0;
    z-index: 3;

    h1, h2 {
      margin: 0;
    }
  }

  & > nav {
    padding-left: 351px;
    border-bottom: 1px solid silver;
    width: 100%;
    height: 50px;
    z-index: 1;
    -moz-box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.25);
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.25);
    z-index: 2;

    & > menu {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    & > menu.help_menu, & > menu.login_menu {
      float: right;
    }

    & li {
      float: left;
      width: 250px;
      font: normal 1.5em "Cuprum",sans-serif;
      list-style: none;
      border-right: 1px dotted silver;
      border-left: 1px dotted silver;
      margin-left: -1px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.3em 0;
      text-align: center;
      text-decoration: none;
      text-shadow: white 1px 1px 2px;

      &:link, &:visited {
        color: black;
        background-color: $panels_color;
        @include simple_gradient(#d2d2d9, #dfdfe6);
      }

      &:hover {
        background-color: white;
        @include simple_gradient(#dfdfe6, #efeff7);
      }

      &:active {
        color: red;
      }
    }
  }

  & > footer {
    bottom: 0;
    width: 100%;
    height: 90px;
    z-index: 3;
    border-top: 1px solid silver;
    padding: 0.5em 1em;
    text-shadow: white 1px 1px 2px;
    @include simple_gradient(#dfdfe6, #d2d2d9);

    .today {
      float: left;
    }

    .week_no {
      font: bold 225% sans-serif;
    }

    .info {
      float: right;
      text-align: right;
      position: absolute;
      bottom: 0.5em;
      right: 1em;
    }
  }

}

menu.login_menu {

  li {
    border: none;
  }

  menu {
    position: fixed;
    top: 50px;
    display: none;
    z-index: 100;
    margin: 0;
    padding: 0;
    border: 1px solid silver;
    border-top: none;
    
    li {
      float: none;
      font-size: 50%;
      
      a {
        text-align: left;
      }
      
      a:link, a:visited {
        background: white;
      }
      
      a:hover {
        background: #F0F0F9;
      }
    }
  }

}

.timetable_input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  margin: 0;
  font: bold 2em sans-serif;
  height: 1.8em;
  display: block;
  float: left;
  background-color: $body_color;

  /* Thanks Twitter Bootstrap for that code */
  margin-bottom: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px;
  color: #555;
  border: 1px solid #CCC;
  -webkit-box-align: center;
  vertical-align: middle;
}

.timetable_input + button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  font: bold 2em sans-serif;
  height: 1.8em;
  margin: 0;
  display: block;
  margin-left: -1px;
}

body.timetable.terminal > footer {
  padding: 0 1em;

  .week_no {
    font: bold 75px/90px sans-serif;
    float: left;
  }

  .time {
    font: bold 75px/90px sans-serif;
    text-align: right;
  }

}

.button.link_to_timetable {
  font: bold 1.5em "Cuprum",sans-serif;
}

.ajax_messages_container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  bottom: 90px;
  width: 100%;

  .ajax_message {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 50%;
    display: none;
    margin: 0 auto -1px;
    background: white;
    font: bold 1em sans-serif;
    padding: 0.5em;
    border: 1px solid silver;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    @include simple_gradient(#F0F0F9, #dfdfe6);
    text-shadow: white 1px 1px 2px;
  }

  .ajax_loading {
    color: green;
  }

  .ajax_error {
    color: maroon;
  }

  .ajax_not_found {
    color: navy;
  }
}

button, .button, .key {
    font-family: "Russo One",sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    color: #333 !important;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-decoration: none !important;
    vertical-align: middle;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -webkit-box-align: center;
    text-align: center;

    &:hover, &:focus {
      background-image: none;
      background-color: #E6E6E6;
    }

    &:active {
      background-image: none;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      background-color: #E6E6E6;
    }

}
