- depts = Department.accessible_by(current_ability, :update) 
- if depts.count > 1
  %li.department
    = form_tag '/department/change', :method => 'post' do |f|
      = select_tag :department_id, departments_change_grouped_options_for_select(depts), :class => :department_change
      <button type="submit">Сменить</button>
