%menu.main_menu
  %li
    #{link_to "Группы", timetable_groups_path}
  %li
    #{link_to "Преподаватели", timetable_lecturers_path}
- if @terminal
  %menu.help_menu
    %li
      #{link_to "Помощь", "#"}
- else
  %menu.login_menu
    %li #{link_to "Войти", new_user_session_path}

